<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Task Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js"></script>



</head>

<body>
  <div class="container">
    <div class="header">
      <h1>Task Tracker</h1>
      <div class="sub">{{ tasks|length }} task(s)</div>
    </div>
  <div id="calendar"></div>




    <form method="POST" action="/add" class="topbar" style="margin-top: 12px;">
  <input type="hidden" name="date" id="taskDate">

  <input id="taskInput" name="task" placeholder="Add a task..." autocomplete="off" autofocus />
  <button type="submit" class="btn-primary">Add</button>
</form>


    <div class="divider"></div>

    {% if tasks %}
      <form id="deleteForm" method="POST" action="/delete_selected" class="small-actions">
        <button type="submit" class="btn-danger">Delete selected</button>
      </form>

      <form method="POST" action="/delete_all" style="margin:0;">
  <button type="submit" class="btn-danger"
    onclick="return confirm('Delete ALL tasks?')">
    Delete all
  </button>
  
</form>

      <ul class="list">
        {% for t in tasks %}
          <li class="item">
            <input class="chk" type="checkbox" name="nums" value="{{ loop.index }}" form="deleteForm">

            <form method="POST" action="/mark_done" style="margin:0;">
              <input type="hidden" name="num" value="{{ loop.index }}">
              <button class="toggle-btn" type="submit">{% if t.done %}✅{% else %}⬜{% endif %}</button>
            </form>

            <span class="task-text {% if t.done %}done{% endif %}">{{ t.text }}</span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="sub">No tasks yet.</p>
    {% endif %}
  </div>
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const calendarEl = document.getElementById("calendar");
    const dateInput = document.getElementById("taskDate");
    const taskInput = document.getElementById("taskInput");

    dateInput.value = new Date().toISOString().slice(0, 10);

    let selectedDayEl = null;

    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",
      events: "/events",

      dateClick: function(info) {
        // update the date the form will submit
        dateInput.value = info.dateStr;

        // remove old highlight
        if (selectedDayEl) selectedDayEl.classList.remove("selected-day");

        // add highlight to the clicked day cell
        selectedDayEl = info.dayEl;
        selectedDayEl.classList.add("selected-day");

if (taskInput) taskInput.focus();

      }
    });

    calendar.render();
  });
</script>


</body>
</html>
